#vros-admin {
    .card {
        position: relative;

        div.handle {
            width: 0;
            height: 0;
            border-right: 20px solid transparent;
            border-top: 20px solid black;
            cursor: move;
            position: absolute;
            z-index: 10;
        }

        &:hover div.btn-group {
            opacity: 1;
        }

        & div.btn-group {
            position: absolute;
            bottom: 2px;
            right: 2px;
            opacity: 0;
            transition: opacity 0.25s linear;
        }
    }

        
}