.sidebar-close-btn {
    padding: 0;
    margin: 10px 10px 10px 0;
    float: right;
}

.galleries-tab-panel, .paragraphs-tab-panel {
    padding: 0 10px;
}

.w3-sidebar {
    height: calc(100% - 75px);
}